@use "variables" as *;

.about,
.about-team {
  padding-bottom: 30px;

  h2 {
    font-size: 2rem;
    margin: 40px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.team-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 50px;

  @media (max-width: $mq-ipad) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @media (max-width: $mq-big-mobile) {
    gap: 12px;
  }
}

.team-member {
  background: rgba($white, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba($black, 0.2);
  backdrop-filter: blur(5px);
  border: 5px solid rgba($light-green, 0.8);
  padding: 0 15px 10px 15px;

  @media (max-width: $mq-small) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: $mq-mobile) {
    padding: 5px;
    padding-top: 0px;
  }
}

.team-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 2rem;

  a {
    text-decoration: none;
    text-shadow: 0px 0px 5px $black;
    color: $white;
    transition: 0.2s ease-in-out;

    :hover,
    :focus {
      color: rgba($light-green, 0.8);
      text-shadow: 0px 0px 20px $aqua-blue;
    }
  }

  a p {
    margin: 0;
    padding: 0;
    font-size: 0.5rem;
  }

  @media (max-width: $mq-small) {
    gap: 10px;
  }
}

.about-contact-container,
.about {
  min-height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about {
  padding-bottom: 0;

  h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8rem;
  }

  p {
    letter-spacing: 1px;
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;

    @media (max-width: $mq-big-mobile) {
      width: 100%;
    }
  }

  .legend-icons {
    width: 70%;
    margin: 20px auto;
    background-color: $bg-color;
    background: rgba($light-green, 0.1);
    border: 5px solid rgba($light-green, 0.8);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;

    .info {
      border-top: 1px solid rgba($light-green, 0.8);
      border-bottom: 1px solid rgba($light-green, 0.8);
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-container {
        flex-basis: 10%;
        text-align: center;

        rect {
          width: 100%;
          color: $red;
        }
      }

      p {
        flex-basis: 20%;
        padding-left: 5px;
      }

      span {
        padding-left: 20px;
        flex-basis: 70%;
      }
    }

    @media (max-width: $mq-medium) {
      width: 80%;
    }

    @media (max-width: $mq-ipad) {
      width: 90%;
    }

    @media (max-width: $mq-small) {
      width: 100%;

      .icon-container {
        transform: scale(0.9);
      }
    }

    @media (max-width: $mq-big-mobile) {
      p {
        font-size: 0.9rem;
      }

      span {
        font-size: 0.9rem;
        padding-left: 10px;
      }

      .icon-container {
        transform: scale(0.75);
      }
    }

    @media (max-width: $mq-mobile) {
      .icon-container {
        transform: scale(0.6);
      }
    }
  }
}
