@use 'variables' as *;

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

body{
  background-color: $bg-color;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  color: $black;
}