@use "variables" as *;

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  color: $black;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  .main {
    flex-grow: 1;
    margin-block: 30px;
  }
}
