@use 'variables' as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-b p {
    margin: 0;
  }
  bottom: 0;
  background-color: $black;
  margin-top: 5vh;
  height: 10vh;
  a{
    text-decoration: none;
    margin-bottom: 20px;
    color: $coral-pink;
    transition: 0.2s ease-in-out;

    &:hover,
    &:focus{
      color: $light-green;
    }
  }

  @media (max-width: $mq-big-mobile) {
    p {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}

