@use './variables' as *;

.leaflet-container {
  height: 400px;
  margin-block: 25px;
  color: $black;
  border-radius: 5px;
}

.results-map-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 20px;
}

.results-view {
  flex-basis: calc(35% - 10px);
}

.results {
  font-family: $body-font;
  color: black;
  border: 2px solid $light-green;
  border-radius: 5px;
  background-color: $light-green;
  background-color: rgba($light-green, 0.8);
  overflow-y: scroll;
  max-height: 400px;

  select {
    width: 100%;
    margin: 0px;
  }

  option {
    padding-top: 0px;
    padding-bottom: 5px;

    &:hover,
    &:focus {
      background-color: rgba($coral-pink, 0.8);
    }

    &:checked {
      width: 100%;
      background-color: rgba($aqua-blue, 0.8);
    }
  }

  .result-middle {
    background-image: url(https://assets.mapquestapi.com/icon/v2/circle-sm-5BC5FF-C4E39C-M.png);
    background-repeat: no-repeat;
    padding-top: 3px;
    padding-left: 35px;
    margin-left: 5px;
  }
}

.results-error {
  padding: 20px;
  background-color: $light-green;
  background-color: rgba($light-green, 0.8);
}

.map-view {
  flex-basis: calc(65% - 10px);
  position: relative;

  .map-view-button {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 200px;
    height: 40px;
    background-color: $light-green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 15px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    transition: 0.1s ease-in;
  
    &:hover,
    &:focus {
      background-color: rgba($light-green, 0.7);
    }
  }
}
