// Scroll Button Partial

@use "variables" as *;

.scroll-button {
  position: fixed;
  bottom: 30px;
  right: 100px;
  height: 130px;
  width: 100px;
  padding: 0;
  border-radius: 16px;
  border: 1px solid $black;
  background-color: rgba($light-green, 0.8);
  transition: 0.2s ease-in-out;
  z-index: 1000;

  &:hover,
  &:focus {
    background-color: rgba($light-green, 0.8);
  }

  @media (max-width: $mq-ipad) {
    right: 40px;
  }

  @media (max-width: $mq-small) {
    right: 20px;
  }

  @media (max-width: $mq-big-mobile) {
    right: 10px;
  }

  .scroll-up-icon {
    margin-left: -6px;
    width: 110px;
    height: 130px;
    color: rgba($black, 0.6);

    &:hover,
    &:focus {
      color: rgba($black, 0.8);
    }
  }
}
