// Typography SASS Partial

@use "variables" as *;

html {
  font-size: 125%;

  @media (max-width: $mq-small) {
    font-size: 100%;
  }
}

body {
  font-family: $body-font;
  color: $white;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

header {
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  padding-top: 10px;
}

h2 {
  text-shadow: 0px 0px 10px $light-green, 0px 0px 50px $black, 0px 0px 100px $aqua-blue;
}

input {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

footer a {
  font-size: 0.8rem;
}

.error-page-view {
  font-size: 1.5rem;
  line-height: 1.5;
}
