// colour variables
$light-green: #C4E39C;
$aqua-blue: #5BC5FF;
$coral-pink: #FF9D7F;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$bg-color: #adb1bf;
$n-f-color: #8a8989;

// import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Lato:wght@400;700&display=swap');

// Main fonts
$header-font: 'Cormorant Garamond', serif;
$body-font: Lato, sans-serif;

// URL for map icons
$middle-icon-url: 'https://assets.mapquestapi.com/icon/v2/circle-sm-5BC5FF-M.png';

// breakpoints
$mq-medium: 1100px;
$mq-ipad: 850px;
$mq-small: 650px;
$mq-big-mobile: 450px;
$mq-mobile: 350px;